.ts-demo {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    background-color: rgb(52, 74, 114);
}
.demo-view {
    width: 100%;
}
.demo-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(192, 211, 233);
}
.home-btn {
    position: absolute;
    right: 5%;
    width: 60px;
    height: 60px;
    font-size: 18px;
    color: rgb(52, 74, 114);
    border: none;
    border-radius: 12px;
    background-color: rgb(95, 146, 104);
    box-shadow: 1px 1px 24px 6px rgba(0, 0, 0, 0.267);
}
.home-btn:hover {
    cursor: pointer;
    background-color: rgb(86, 160, 99);
    box-shadow: 1px 1px 36px 8px rgba(0, 0, 0, 0.267);
}
.home-btn:active {
    color: white;
    background-color: rgb(64, 168, 83);
    box-shadow: 1px 1px 36px 8px rgba(122, 160, 73, 0.267);
}

.btn-cont {
    margin: 120px 0 0 0;
    width: 460px;
    display: flex;
    justify-content: space-between;
}

.modem-lock {
    width: 180px;
    height: 80px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    background-color: rgb(95, 146, 104);
    box-shadow: 1px 1px 24px 6px rgba(0, 0, 0, 0.267);
}
.modem-lock:hover {
    cursor: pointer;
    background-color: rgb(86, 160, 99);
    box-shadow: 1px 1px 36px 8px rgba(0, 0, 0, 0.267);
}
.modem-lock:active {
    cursor: pointer;
    color: white;
    background-color: rgb(64, 168, 83);
    box-shadow: 1px 1px 36px 8px rgba(122, 160, 73, 0.267);
}